# true  → repository 를 순차(single-thread)로 실행
# false → 병렬(ThreadPoolExecutor)로 실행
is_single: false

# true  → worklist.txt 기반으로 copy 목록을 repository 별로 분류해서 사용
# false → 기본 방식인 repository.copy_list 사용
is_worklist: false

# true  → 소스 목록을 paths.worklist_file 에 저장
# false → 저장하지 않음

#git_commits_date: None
git_commits_date: 2026-01-19 23:58:21

# --------------------------------------------------------------------
# GitHub 설정
# --------------------------------------------------------------------
github:
  server: "https://github.com"
  token: "ghp_your_enterprise_token"
  branch: "main"

# --------------------------------------------------------------------
# 경로 설정
# --------------------------------------------------------------------
paths:
  # Git clone/pull 작업 공간 (절대/상대 모두 가능)
  repo_dir: "D:/deploy/repo"
  # build 결과물을 copy 하는 폴더
  copy_dir: "D:/deploy/copy"
  # copy 폴더 백업 저장 위치
  back_dir: "D:/deploy/backup"
  # repository별 전체 로그 저장 위치
  logs_dir: "D:/deploy"
  # Ant 실행 경로 (절대경로)
  ant_cmd: "D:/program/apache-ant-1.10.15/bin/ant.bat"
  work_date: "2025-11-21"
  work_systems:
    - "A"
    - "B"
    - "SB"
    - "SC"
  work_sources:
    - "SA"
    - "SB"
    - "SC"
  work_file: "./config/work.xlsx"
  work_result_file: "./config/result.log"
  work_summary_file: "./logs/summary.log"
  # is_worklist = true 일 때만 사용
  worklist_file: "./config/worklist.txt"
  # 배포 완료 후 결과 파일 체크 경로
  ###########################################################################
  # check_dirs
  # - 스캔할 기준 경로(폴더 또는 파일)
  # - 각 경로 기준으로 하위 모든 파일 및 폴더를 검색
  ###########################################################################
  check_dirs:
#    - "D:/deploy/copy"
    - "D:/deploy/copy/test"
    - "D:/deploy/copy/test2"
  ###########################################################################
  # check_exclude_paths
  # 스캔에서 제외할 항목
  #   - 폴더: 해당 폴더 전체 제외
  #   - 파일: 해당 파일만 제외
  #   - 패턴:
  #       *   : 해당 경로 바로 아래에서만 매칭
  #       **  : 하위 모든 depth 에서 매칭
  #
  # 예)
  #   D:/deploy/copy/*.log       → copy 바로 아래 .log 제외
  #   D:/deploy/copy/**/*.log    → copy 하위 전체 .log 제외
  ###########################################################################
  check_exclude_paths:
    - "D:/deploy/copy/*.log"

# --------------------------------------------------------------------
# repository 목록
#    [name] repository name
#    [execute] 실행모드
#       all   → git(build_file) + build + copy + check (세션로그 ON)
#       git   → git(build_file) 단계만 수행
#       build → build 단계만 수행
#       copy  → copy 단계만 수행 (조건: build_dir 에 파일 존재해야 함)
#       check → 파일 체크만 수행 (copy 제외)
#       stop  → 완전히 제외
#    [git_mode] git 모드
#       clean → 기존 폴더 삭제 후 clone
#       pull → fetch + reset
#    [build_file] build 에 사용될 build.xml 경로
#    [transform_path] copy 경로 변환 규칙
#    [worklist_prefixes] worklist 모드일 경우 prefix 조건
#    [copy_list] copy_list (is_worklist=false 일 때만 사용)
# --------------------------------------------------------------------
repositories:
  - name: "jeon0428k/SpringMVC-MyBatis-Demo.git"
    branch: "main"
    execute:
#      - "stop"
      - "all"
      - "git"
      - "build"
      - "copy"
      - "check"
    git_mode: "pull"
    build_file: "D:/deploy/files/SpringMVC-MyBatis-Demo.xml"
    transform_path:
      - ["SpringMVC-MyBatis-Demo/classes", "test/etc"]
    worklist_prefixes:
      - "classes"
    copy_list:
      - "classes/com/springapp/mvc/controller/TestController.class"
      - "classes/com/springapp/mvc/controller/TestController.class"
      - "classes/com/springapp/mvc/controller/TestController1.class"
      - "classes/com/springapp/mvc/controller/TestController1.class"
      - "classes/com/springapp/mvc/controller/TestController1.class"
      - "schema/aa/bb/3.sql"
      - "sql/a/b/1.sql"
    copy_exclude_paths:
      - "*/WEB-INF/*.xml"
    db_file_paths:
      - "sql/*"
      - "schema/*"
    db_prefix: "(eam)"
  - name: "jeon0428k/jrebel-license-server.git"
    branch: "main"
    execute:
      - "stop"
      - "all"
      - "git"
      - "build"
      - "copy"
      - "check"
    git_mode: "clean"
    build_file: "D:/deploy/files/jrebel-license-server.xml"
    transform_path:
      - ["jrebel-license-server/src", "test"]
    worklist_prefixes:
      - "src"
    copy_list:
      - "src/main/java/com/imjcker/jrebel/JrebelApplication.java"
      - "src/main/resources/application.yml"
    copy_exclude_paths: []
    db_file_paths: []
    db_prefix: ""
